* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
}

.header {
    padding: 2rem;
    background-color: #111119ff;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.nav-item {
    display: flex;
    align-items: center;
}

.navlink,
.active-navlink {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
}

.navlink:hover,
.active-navlink {
    background-color: #62086e;
}

.logout-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: #c82333;
}